# Folder view configuration files mac/windows
.DS_Store
Desktop.ini

# Exclude .DS_Store files in all child directories
**/.DS_Store

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache

#env file
.env

*.keystore

/guia-1
/guia-2
/guia-3
/guia-4
/guia-5
/guia-6
/guia-7
/guia-8